@charset "UTF-8";

body{
    background-color: rgb(161, 240, 240);
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(161, 240, 240), rgb(96, 230, 230));
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(21, 53, 143);
}

h1#principal{
    text-align: center;
    background-color: rgb(100, 206, 200);
    color: rgb(8, 1, 109);
}

h2{
    color:rgb(21, 80, 99)
}

.basico{
    color: rgb(38, 110, 38)
}

.intermediario{
    color: rgb(39, 39, 97)
}

.avancado{
    color:rgb(63, 34, 34);
}

p{
    text-indent: 20px;
}

.destaque{
    background-color: rgb(133, 205, 219);
}

a{
    color: black;
}
a:visited{
    color: black;
}
}