@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #8FC1B5, #589A8D, #007566  );
}

main{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #63502d;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: #0B2B40;
    text-shadow: 1px 1px 0px #05151f;
}

h2{
    color: #185359;
    font-family: Arial, Helvetica, sans-serif;
}

